*.rtx
*.spx
*.eps
*.ps
*.pdf
*.py[co]
temp.R
build/
dist
src/icc/Reference
Reference
D_SRS.csv
D_unknown.csv
D_Монголия_№13.csv
D_Почвы_№16_(Акулова).csv
SRSC.csv
python/
/hack.el
/hack.el~
/src/icc/Project.ede
SPECPLUS/
tmp/
data/all_data/
src/icc.xray.egg-info/*/src/icc/xray/analysis/all.png
/src/icc/xray/analysis/bkg.png
/src/icc/xray/analysis/cwt-mexican-log.png
/src/icc/xray/analysis/cwt-mexican.png
/src/icc/xray/analysis/l1.png
/src/icc/xray/analysis/l1.svg
/src/icc/xray/analysis/lines.png
/src/icc/xray/analysis/lines.svg
/src/icc/xray/analysis/lines.svgz
/src/icc/xray/analysis/pikes.png
/src/icc/xray/analysis/piks.svgz
/src/icc/xray/analysis/wonder.png
/test.txt
/src/icc.xray.egg-info/dependency_links.txt
/src/icc.xray.egg-info/namespace_packages.txt
/src/icc.xray.egg-info/PKG-INFO
/src/icc.xray.egg-info/requires.txt
/src/icc.xray.egg-info/SOURCES.txt
/src/icc.xray.egg-info/top_level.txt
/src/icc.xray.egg-info/zip-safe
/src/icc/xray/analysis/all.png
/src/icc/xray/analysis/ctw.csv
/src/icc/xray/analysis/ctw.txt
/src/icc/xray/analysis/result.svg
/_.txt
/src/gelemental/config.h
/src/gelemental/config.log
/src/gelemental/config.status
/src/gelemental/data/gelemental.desktop
/src/gelemental/data/libelemental-uninstalled.pc
/src/gelemental/data/libelemental.pc
/src/gelemental/data/Makefile
/src/gelemental/docs/api/Doxyfile
/src/gelemental/docs/api/Makefile
/src/gelemental/docs/Makefile
/src/gelemental/intltool-extract
/src/gelemental/intltool-merge
/src/gelemental/intltool-update
/src/gelemental/libelemental/.deps/data.Plo
/src/gelemental/libelemental/.deps/element.Plo
/src/gelemental/libelemental/.deps/properties.Plo
/src/gelemental/libelemental/.deps/table.Plo
/src/gelemental/libelemental/.deps/value-types.Plo
/src/gelemental/libelemental/.deps/value.Plo
/src/gelemental/libelemental/.libs/data.o
/src/gelemental/libelemental/.libs/element.o
/src/gelemental/libelemental/.libs/libelemental.a
/src/gelemental/libelemental/.libs/libelemental.la
/src/gelemental/libelemental/.libs/libelemental.lai
/src/gelemental/libelemental/.libs/libelemental.so
/src/gelemental/libelemental/.libs/libelemental.so.0
/src/gelemental/libelemental/.libs/libelemental.so.0.0.0
/src/gelemental/libelemental/.libs/properties.o
/src/gelemental/libelemental/.libs/table.o
/src/gelemental/libelemental/.libs/value-types.o
/src/gelemental/libelemental/.libs/value.o
/src/gelemental/libelemental/data.lo
/src/gelemental/libelemental/data.o
/src/gelemental/libelemental/element.lo
/src/gelemental/libelemental/element.o
/src/gelemental/libelemental/libelemental.la
/src/gelemental/libelemental/Makefile
/src/gelemental/libelemental/misc/.deps/compose.Plo
/src/gelemental/libelemental/misc/.deps/extras.Plo
/src/gelemental/libelemental/misc/.deps/throttle.Plo
/src/gelemental/libelemental/misc/.deps/ucompose.Plo
/src/gelemental/libelemental/misc/.deps/widgets.Plo
/src/gelemental/libelemental/misc/.libs/compose.o
/src/gelemental/libelemental/misc/.libs/extras.o
/src/gelemental/libelemental/misc/.libs/libmisc-gtk.a
/src/gelemental/libelemental/misc/.libs/libmisc-gtk.la
/src/gelemental/libelemental/misc/.libs/libmisc.a
/src/gelemental/libelemental/misc/.libs/libmisc.la
/src/gelemental/libelemental/misc/.libs/throttle.o
/src/gelemental/libelemental/misc/.libs/ucompose.o
/src/gelemental/libelemental/misc/.libs/widgets.o
/src/gelemental/libelemental/misc/compose.lo
/src/gelemental/libelemental/misc/compose.o
/src/gelemental/libelemental/misc/extras.lo
/src/gelemental/libelemental/misc/extras.o
/src/gelemental/libelemental/misc/libmisc-gtk.la
/src/gelemental/libelemental/misc/libmisc.la
/src/gelemental/libelemental/misc/Makefile
/src/gelemental/libelemental/misc/throttle.lo
/src/gelemental/libelemental/misc/throttle.o
/src/gelemental/libelemental/misc/ucompose.lo
/src/gelemental/libelemental/misc/ucompose.o
/src/gelemental/libelemental/misc/widgets.lo
/src/gelemental/libelemental/misc/widgets.o
/src/gelemental/libelemental/properties.lo
/src/gelemental/libelemental/properties.o
/src/gelemental/libelemental/table.lo
/src/gelemental/libelemental/table.o
/src/gelemental/libelemental/value-types.lo
/src/gelemental/libelemental/value-types.o
/src/gelemental/libelemental/value.lo
/src/gelemental/libelemental/value.o
/src/gelemental/libtool
/src/gelemental/Makefile
/src/gelemental/po/.intltool-merge-cache
/src/gelemental/po/da.gmo
/src/gelemental/po/de.gmo
/src/gelemental/po/en_CA.gmo
/src/gelemental/po/en_GB.gmo
/src/gelemental/po/en_US.gmo
/src/gelemental/po/es.gmo
/src/gelemental/po/fr.gmo
/src/gelemental/po/it.gmo
/src/gelemental/po/Makefile
/src/gelemental/po/Makefile.in
/src/gelemental/po/nl.gmo
/src/gelemental/po/pl.gmo
/src/gelemental/po/POTFILES
/src/gelemental/po/pt.gmo
/src/gelemental/po/ru.gmo
/src/gelemental/po/stamp-it
/src/gelemental/po/sv.gmo
/src/gelemental/po/tr.gmo
/src/gelemental/src/.deps/buttons.Po
/src/gelemental/src/.deps/dialogs.Po
/src/gelemental/src/.deps/main.Po
/src/gelemental/src/.deps/misc.Po
/src/gelemental/src/.deps/table-list.Po
/src/gelemental/src/.deps/table-table.Po
/src/gelemental/src/.libs/gelemental
/src/gelemental/src/.libs/lt-gelemental
/src/gelemental/src/buttons.o
/src/gelemental/src/dialogs.o
/src/gelemental/src/gelemental
/src/gelemental/src/main.o
/src/gelemental/src/Makefile
/src/gelemental/src/misc.o
/src/gelemental/src/table-list.o
/src/gelemental/src/table-table.o
/src/gelemental/stamp-h1
/src/gelemental/src/_
src/gelemental/autom4te.cache/
src/gelemental/src/.deps/
src/gelemental/src/elwidget.o
/data/.~lock.pt-data1.csv#
/src/gelemental/m4/lt~obsolete.m4
/data/.~lock.rel_lines.csv#
/src/icc/xray/analysis/_.py
/python-old/*
