*.rtx
*.spx
*.eps
*.ps
*.pdf
*.py[co]
temp.R
build/
dist
src/icc/Reference
Reference
D_SRS.csv
D_unknown.csv
D_Монголия_№13.csv
D_Почвы_№16_(Акулова).csv
SRSC.csv
python/
/hack.el
/hack.el~
/src/icc/Project.ede
SPECPLUS/
tmp/
data/all_data/
src/icc.xray.egg-info/*