*.rtx
*.spx
*.eps
*.ps
*.pdf
*.py[co]
temp.R
build/
dist
src/icc/Reference
Reference
D_SRS.csv
D_unknown.csv
D_Монголия_№13.csv
D_Почвы_№16_(Акулова).csv
SRSC.csv
python/
/hack.el
/hack.el~
/src/icc/Project.ede
SPECPLUS/
tmp/
data/all_data/
src/icc.xray.egg-info/*/src/icc/xray/analysis/all.png
/src/icc/xray/analysis/bkg.png
/src/icc/xray/analysis/cwt-mexican-log.png
/src/icc/xray/analysis/cwt-mexican.png
/src/icc/xray/analysis/l1.png
/src/icc/xray/analysis/l1.svg
/src/icc/xray/analysis/lines.png
/src/icc/xray/analysis/lines.svg
/src/icc/xray/analysis/lines.svgz
/src/icc/xray/analysis/pikes.png
/src/icc/xray/analysis/piks.svgz
/src/icc/xray/analysis/wonder.png
/test.txt
/src/icc.xray.egg-info/dependency_links.txt
/src/icc.xray.egg-info/namespace_packages.txt
/src/icc.xray.egg-info/PKG-INFO
/src/icc.xray.egg-info/requires.txt
/src/icc.xray.egg-info/SOURCES.txt
/src/icc.xray.egg-info/top_level.txt
/src/icc.xray.egg-info/zip-safe
/src/icc/xray/analysis/all.png
/src/icc/xray/analysis/ctw.csv
/src/icc/xray/analysis/ctw.txt
/src/icc/xray/analysis/result.svg
